<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam List</title>
    <style>
        body {
            background-color: #6843ce62;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            padding: 8px 16px;
            font-size: 14px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Response List</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Subject</th>
                <th>Class Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Responses</th>
            </tr>
        </thead>
        <tbody>
            {{#each exams}}
            <tr>
                <td>{{dateOfExam}}</td>
                <td>{{subject}}</td>
                <td>{{className}}</td>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
                <td>
                     <button onclick="viewResponses('{{_id}}')">View Responses</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script>
          function viewResponses(examId) {
            console.log(examId);
        window.location.href = `/questions/responses/view/${examId}`;
    }
    </script>
</body>
</html>
